:root{
  --common-bg : #faf9ff;
  --global-text-color:#3b5b68;
  --gray : #e1e0e4;
  --dark-gray : #3c5b67;
  --gray1:#a2b7bf;
  --black:#000;
  --red:#ff4433;
  --light-blue:#b2d4dc;
  --blue-border:#9dbec6;
}
body{
  color: var(--global-text-color);
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.d-flex{display: flex;}
.error{color: var(--red);}
.mb-0{margin-bottom: 0;}
.mt-0{margin-top: 0;}
.my-0{margin-top: 0;margin-bottom: 0;}
.w-100{width: 100%;}
.cursor-pointer{cursor: pointer;}
.error-msg{
  color: var(--red);
  padding: 1rem;
  text-align: center;
  background: rgb(255 68 51 / 7%);
  border: 1px solid rgb(255 68 51 / 21%);
  border-radius: 5px;
}